################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/MoreApps/bin/Debug/net7.0-android
/MoreApps/obj
